<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LMSBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LMSBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SecurityKey" value="malu navuluri"/>
    <add key="SMTP" value="smtp.sendgrid.net"/>
    <add key="SMTPPort" value="587"/>
    <add key="SMTPSSL" value="true"/>
    <add key="FailedEmailNoticeAddress" value="info@epaymentgroup.com"/>
    <add key="FROMEMAIL" value="info@epaymentgroup.com|ePay Transaction System"/>
    <add key="CCBalanceEmail" value="wayne@epaymentgroup.com"/>
    <add key="CCExecutionReport" value="wayne@epaymentgroup.com"/>
    <add key="MailAPIUser" value="apikey"/>
    <add key="FROMPWD" value="**************************************************"/>
    <add key="ProviderName" value="System.Data.SqlClient"/>
    <add key="DomainRoot" value="http://studentcardja.com/lms/"/>
    <add key="WebFileDirectory" value="C:\Web Sites\lmsDemo\ExportFiles\Debug\"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="TSConnectionString" connectionString="Data Source=localhost;Initial Catalog=TransactionSystem;uid=sa;pwd=" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TSConnectionString" connectionString="Data Source=192.168.30.1;Initial Catalog=TransactionSystem;Persist Security Info=True;uid=tsonline;pwd=ON90*Jam$" providerName="System.Data.SqlClient"/>-->
    <add name="TSConnectionString" connectionString="Data Source=(local);Initial Catalog=TransactionSystem;Persist Security Info=True;uid=tsonline;pwd=******" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <applicationSettings>
    <LMSBot.Properties.Settings>
      <setting name="BalanceFileEmailBody" serializeAs="String">
        <value>&lt;p&gt;Good morning {0}&lt;/p&gt;&lt;p&gt;Attached is your balance file for the {1} department.&lt;/p&gt;&lt;p&gt;Regards&lt;/p&gt;</value>
      </setting>
      <setting name="BalanceFileEmailSubject" serializeAs="String">
        <value>Balance file for the {0} group.</value>
      </setting>
      <setting name="SummaryFileEmailSubject" serializeAs="String">
        <value>Balance file for {0}</value>
      </setting>
      <setting name="SummaryFileEmailBody" serializeAs="String">
        <value>See balance file attached.</value>
      </setting>
    </LMSBot.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
