<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LMSBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="SecurityKey" value="malu navuluri"/>
    <add key="SMTP" value="outlook.office365.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="SMTPSSL" value="false"/>
    <add key="FailedEmailNoticeAddress" value="info@epaymentgroup.com"/>
    <add key="FROMEMAIL" value="info@epaymentgroup.com|ePay Transaction System"/>
    <add key="CCBalanceEmail" value="wayne@epaymentgroup.com"/>
    <add key="CCExecutionReport" value="wayne@epaymentgroup.com"/>
    <add key="MailAPIUser" value="apikey"/>
    <add key="FROMPWD" value="Pwrd@22"/>
    <add key="ProviderName" value="System.Data.SqlClient"/>
    <add key="DomainRoot" value="http://studentcardja.com/lms/"/>
    <add key="WebFileDirectory" value="C:\Web Sites\studentcardja.com\lmsDemo\ExportFiles\"/>
  </appSettings>
    <applicationSettings>
        <LMSBot.Properties.Settings>
            <setting name="BalanceFileEmailBody" serializeAs="String">
                <value>&lt;p&gt;Good morning {0}&lt;/p&gt;&lt;p&gt;Attached is your balance file for the {1} department.&lt;/p&gt;&lt;p&gt;Regards&lt;/p&gt;&lt;</value>
            </setting>
            <setting name="BalanceFileEmailSubject" serializeAs="String">
                <value>Balance file for the {0} department.</value>
            </setting>
            <setting name="SummaryFileEmailSubject" serializeAs="String">
                <value>Balance file for {0}</value>
            </setting>
            <setting name="SummaryFileEmailBody" serializeAs="String">
                <value>See balance file attached.</value>
            </setting>
        </LMSBot.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
